<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= link_to 'Buscar personaje', search_page_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Registrar personaje', pages_new_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <h1>Personajes de Howarts</h1>

  <% @characters.each do |character| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nombre: <%= character.name %></h5>
        <p class="card-text">Locación: <%= character.location %></p>
        <p class="card-text">Casa: <%= character.house %></p>
      </div>
    </div>
    <br>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <%= link_to 'Buscar personaje', search_page_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Registrar personaje', pages_new_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>




